<div class="card mx-auto mb-5"
     style="width:15rem">
  <img class="card-img-top image"
       src="{{book.imageUrl}}"
       alt="Book Image">
  <div class="card-body">
    <hr>
    <h5 class="card-title">{{book.title | title | titlecase}}</h5>
    <p class="card-text">{{book.authors}} </p>

    <div class="row">
      <button mat-flat-button
              class="btn btn-view btn-block"
              (click)="openDialog()">View Book</button>
    </div>
    <div class="row mt-2">
      <button mat-flat-button
              class="btn btn-edit btn-block"
              (click)="openEditDialog()">Edit Book</button>
    </div>
    <div class="row mt-2">
      <button mat-flat-button
              class="btn btn-delete btn-block"
              (click)="onDeleteClicked()">Delete Book</button>
    </div>
  </div>
</div>