<h4>Edit this book:</h4>
<mat-dialog-content>
  <form [formGroup]="form"
        (ngSubmit)="openWarningSheet()"
        class="my-2">

    <div class="edit-dialog-container">
      <mat-form-field>
        <input matInput
               formControlName="title"
               placeholder="Book Title:"
               value="{{data.title}}">
        <mat-error *ngIf="title.hasError('required')">Title is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               formControlName="authors"
               placeholder="Author(s)"
               value="{{data.authors}}">
        <mat-error *ngIf="authors.hasError('required')">Author is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               formControlName="publishedDate"
               placeholder="Publication Date"
               value="{{data.publishedDate}}">
        <mat-error *ngIf="publishedDate.hasError('required')">Publication date is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput
                  formControlName="description"
                  matTextAreaAutosize
                  placeholder="Description"
                  value="{{data.description}}"></textarea>
        <mat-error *ngIf="description.hasError('required')">Description is required</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button
          [disabled]="form.invalid"
          class="mx-auto"
          (click)="openWarningSheet()">Submit Changes</button>
  <button mat-dialog-close
          mat-flat-button
          class="mx-auto">Close</button>
</mat-dialog-actions>