<mat-dialog-content>
  <div class="edit-dialog-container">
    <mat-form-field>
      <input matInput
             placeholder="Book Title"
             value="{{data.title}}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Author(s)"
             value="{{data.authors}}">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="Publication Date"
             value="{{data.publishedDate | date}}">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
                matTextAreaAutosize
                placeholder="Description"
                value="{{data.description}}"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button
          class="mx-auto"
          (click)="openWarningSheet()">Submit Changes</button>
</mat-dialog-actions>