.btn-card {
  background-color: #a84a4f;
  border-color: #a84a4f;
  color: white;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 195px;
  width: 128px;
}
