@import '~bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  padding-top: 110px;
  background-image: url('assets/light-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.btn:focus,
.btn:active,
button {
  outline: none !important;
  box-shadow: none;
}
