<!-- <div *ngIf="books$|async as books"
     class="card-columns">
  <div *ngFor="let book of books"
       class="card mx-auto mb-5"
       style="width:15rem">
    <img class="card-img-top image"
         src="{{book.imageUrl}}"
         alt="Book Image">
    <div class="card-body">
      <hr>
      <h5 class="card-title">{{book.title}}</h5>
      <p class="card-text">{{book.authors}} </p>

      <button mat-flat-button
              class="btn btn-card"
              color="primary"
              (click)="openDialog(book)">View Book</button>

    </div>
  </div> -->

<div *ngIf="books$|async as books"
     class="card-columns">
  <div *ngFor="let book of books">
    <book-card [book]="book"></book-card>

  </div>
</div>